.home-main {
  width: 100%;
  color: #ffdf5e;
  padding: 0 20px; /* Ajusta el padding según sea necesario */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.home-data {
  display: flex;
  justify-content: space-around; /* Alinea las tarjetas uniformemente */
  gap: 10px; /* Reduzca el espacio entre las tarjetas */
}

@media (max-width: 768px) {
  .home-data {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Ajusta el diseño para pantallas más pequeñas */
  }
}
